.center {
  text-align: center;
  font-family: "Pacifico", cursive;
}

.formElement {
  margin: 20px;
}

.box {
  background-color: white;
  opacity: 0.7;
  font-weight: bolder;
  margin: 150px auto;
  padding: 40px;
}

.block {
  display: block;
  width: 100%;
  border: none;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}
