.navbar {
  opacity: 0.7;
}

.titleBar {
  font-size: 40px;
  font-family: "Pacifico", cursive;
  margin: 0px 0px 0px 40px;
}

.nav-link {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  margin: 0px 0px 0px 20px;
}

.submit {
  margin: 20px;
}

.navbar-brand,
.button {
  border: none;
}
